.place {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-gap: 48px 40px;
  justify-items: center;
  align-items: center;
  margin-top: 80px;
}
